:root {
  --primary: #fa7966;
  --primary-1: #c76151;
  --secondary: #fcb1a6;
  --accent: #d02106;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

canvas {
  display: block;
}

#app {
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.list-enter-active,
.list-leave-active {
  animation: bounce 0.5s;
}

.list-enter-from,
.list-leave-to {
  animation: bounce 0.5s reverse;
}

.bounce-enter-active {
  animation: bounce 0.5s;
}

.bounce-leave-active {
  display: none;
}
